name: Build & Test

on:
  push:
    branches:
      - master
  pull_request:
    types: [ opened, synchronize ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Установка JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Сборка и тесты
        run: mvn clean verify -U -ntp

      - name: Проверка code style
        run: cd finance-manager && mvn spotless:check